<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Drugsmanagement</display-name>
  <welcome-file-list>
    <welcome-file>html/login_in.html</welcome-file>
    <welcome-file>css/login_in.css</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.li.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>checkUserNameServlet</display-name>
    <servlet-name>checkUserNameServlet</servlet-name>
    <servlet-class>com.li.servlet.checkUserNameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkUserNameServlet</servlet-name>
    <url-pattern>/checkUserNameServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.li.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DrugsListServlet</display-name>
    <servlet-name>DrugsListServlet</servlet-name>
    <servlet-class>com.li.servlet.DrugsListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DrugsListServlet</servlet-name>
    <url-pattern>/DrugsListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SeeUserDataServlet</display-name>
    <servlet-name>SeeUserDataServlet</servlet-name>
    <servlet-class>com.li.servlet.SeeUserDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SeeUserDataServlet</servlet-name>
    <url-pattern>/SeeUserDataServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DrugFuzzyQueryServlet</display-name>
    <servlet-name>DrugFuzzyQueryServlet</servlet-name>
    <servlet-class>com.li.servlet.DrugFuzzyQueryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DrugFuzzyQueryServlet</servlet-name>
    <url-pattern>/DrugFuzzyQueryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertDrugServlet</display-name>
    <servlet-name>InsertDrugServlet</servlet-name>
    <servlet-class>com.li.servlet.InsertDrugServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertDrugServlet</servlet-name>
    <url-pattern>/InsertDrugServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReUserInfoServlet</display-name>
    <servlet-name>ReUserInfoServlet</servlet-name>
    <servlet-class>com.li.servlet.ReUserInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReUserInfoServlet</servlet-name>
    <url-pattern>/ReUserInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteDrugServlet</display-name>
    <servlet-name>DeleteDrugServlet</servlet-name>
    <servlet-class>com.li.servlet.DeleteDrugServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteDrugServlet</servlet-name>
    <url-pattern>/DeleteDrugServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DrugDisplayServlet</display-name>
    <servlet-name>DrugDisplayServlet</servlet-name>
    <servlet-class>com.li.servlet.DrugDisplayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DrugDisplayServlet</servlet-name>
    <url-pattern>/DrugDisplayServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RelDrugServlet</display-name>
    <servlet-name>RelDrugServlet</servlet-name>
    <servlet-class>com.li.servlet.RelDrugServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RelDrugServlet</servlet-name>
    <url-pattern>/RelDrugServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StaffListSevlet</display-name>
    <servlet-name>StaffListSevlet</servlet-name>
    <servlet-class>com.li.servlet.StaffListSevlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StaffListSevlet</servlet-name>
    <url-pattern>/StaffListSevlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StaffFuzzyQueryServlet</display-name>
    <servlet-name>StaffFuzzyQueryServlet</servlet-name>
    <servlet-class>com.li.servlet.StaffFuzzyQueryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StaffFuzzyQueryServlet</servlet-name>
    <url-pattern>/StaffFuzzyQueryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>insertStaffServlet</display-name>
    <servlet-name>insertStaffServlet</servlet-name>
    <servlet-class>com.li.servlet.insertStaffServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>insertStaffServlet</servlet-name>
    <url-pattern>/insertStaffServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteStaffServlet</display-name>
    <servlet-name>DeleteStaffServlet</servlet-name>
    <servlet-class>com.li.servlet.DeleteStaffServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteStaffServlet</servlet-name>
    <url-pattern>/DeleteStaffServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StaffDisplayServlet</display-name>
    <servlet-name>StaffDisplayServlet</servlet-name>
    <servlet-class>com.li.servlet.StaffDisplayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StaffDisplayServlet</servlet-name>
    <url-pattern>/StaffDisplayServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RelStaffServlet</display-name>
    <servlet-name>RelStaffServlet</servlet-name>
    <servlet-class>com.li.servlet.RelStaffServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RelStaffServlet</servlet-name>
    <url-pattern>/RelStaffServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerListServlet</display-name>
    <servlet-name>CustomerListServlet</servlet-name>
    <servlet-class>com.li.servlet.CustomerListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerListServlet</servlet-name>
    <url-pattern>/CustomerListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerFuzzyQueryServlet</display-name>
    <servlet-name>CustomerFuzzyQueryServlet</servlet-name>
    <servlet-class>com.li.servlet.CustomerFuzzyQueryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerFuzzyQueryServlet</servlet-name>
    <url-pattern>/CustomerFuzzyQueryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertCustomerServlet</display-name>
    <servlet-name>InsertCustomerServlet</servlet-name>
    <servlet-class>com.li.servlet.InsertCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertCustomerServlet</servlet-name>
    <url-pattern>/InsertCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCustomerServlet</display-name>
    <servlet-name>DeleteCustomerServlet</servlet-name>
    <servlet-class>com.li.servlet.DeleteCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCustomerServlet</servlet-name>
    <url-pattern>/DeleteCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerDisplayServlet</display-name>
    <servlet-name>CustomerDisplayServlet</servlet-name>
    <servlet-class>com.li.servlet.CustomerDisplayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerDisplayServlet</servlet-name>
    <url-pattern>/CustomerDisplayServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RelCustomerServlet</display-name>
    <servlet-name>RelCustomerServlet</servlet-name>
    <servlet-class>com.li.servlet.RelCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RelCustomerServlet</servlet-name>
    <url-pattern>/RelCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OutHouseListServlet</display-name>
    <servlet-name>OutHouseListServlet</servlet-name>
    <servlet-class>com.li.servlet.OutHouseListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OutHouseListServlet</servlet-name>
    <url-pattern>/OutHouseListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OutHouseFuzzyQueryServlet</display-name>
    <servlet-name>OutHouseFuzzyQueryServlet</servlet-name>
    <servlet-class>com.li.servlet.OutHouseFuzzyQueryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OutHouseFuzzyQueryServlet</servlet-name>
    <url-pattern>/OutHouseFuzzyQueryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertOutHouseDisplayServlet</display-name>
    <servlet-name>InsertOutHouseDisplayServlet</servlet-name>
    <servlet-class>com.li.servlet.InsertOutHouseDisplayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertOutHouseDisplayServlet</servlet-name>
    <url-pattern>/InsertOutHouseDisplayServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetDrugsMaxNumsServlet</display-name>
    <servlet-name>GetDrugsMaxNumsServlet</servlet-name>
    <servlet-class>com.li.servlet.GetDrugsMaxNumsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetDrugsMaxNumsServlet</servlet-name>
    <url-pattern>/GetDrugsMaxNumsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertOutHouseServlet</display-name>
    <servlet-name>InsertOutHouseServlet</servlet-name>
    <servlet-class>com.li.servlet.InsertOutHouseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertOutHouseServlet</servlet-name>
    <url-pattern>/InsertOutHouseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteOutHouseServlet</display-name>
    <servlet-name>DeleteOutHouseServlet</servlet-name>
    <servlet-class>com.li.servlet.DeleteOutHouseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteOutHouseServlet</servlet-name>
    <url-pattern>/DeleteOutHouseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RelOutHouseDisplayServlet</display-name>
    <servlet-name>RelOutHouseDisplayServlet</servlet-name>
    <servlet-class>com.li.servlet.RelOutHouseDisplayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RelOutHouseDisplayServlet</servlet-name>
    <url-pattern>/RelOutHouseDisplayServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RelOutHouseServlet</display-name>
    <servlet-name>RelOutHouseServlet</servlet-name>
    <servlet-class>com.li.servlet.RelOutHouseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RelOutHouseServlet</servlet-name>
    <url-pattern>/RelOutHouseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InHouseListServlet</display-name>
    <servlet-name>InHouseListServlet</servlet-name>
    <servlet-class>com.li.servlet.InHouseListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InHouseListServlet</servlet-name>
    <url-pattern>/InHouseListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InHouseFuzzyQueryServlet</display-name>
    <servlet-name>InHouseFuzzyQueryServlet</servlet-name>
    <servlet-class>com.li.servlet.InHouseFuzzyQueryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InHouseFuzzyQueryServlet</servlet-name>
    <url-pattern>/InHouseFuzzyQueryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertInHouseDisplayServlet</display-name>
    <servlet-name>InsertInHouseDisplayServlet</servlet-name>
    <servlet-class>com.li.servlet.InsertInHouseDisplayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertInHouseDisplayServlet</servlet-name>
    <url-pattern>/InsertInHouseDisplayServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertInHouseServlet</display-name>
    <servlet-name>InsertInHouseServlet</servlet-name>
    <servlet-class>com.li.servlet.InsertInHouseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertInHouseServlet</servlet-name>
    <url-pattern>/InsertInHouseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteInHouseServlet</display-name>
    <servlet-name>DeleteInHouseServlet</servlet-name>
    <servlet-class>com.li.servlet.DeleteInHouseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteInHouseServlet</servlet-name>
    <url-pattern>/DeleteInHouseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetMaxNumsByiidServlet</display-name>
    <servlet-name>GetMaxNumsByiidServlet</servlet-name>
    <servlet-class>com.li.servlet.GetMaxNumsByiidServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetMaxNumsByiidServlet</servlet-name>
    <url-pattern>/GetMaxNumsByiidServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RelInHouseDisplayServlet</display-name>
    <servlet-name>RelInHouseDisplayServlet</servlet-name>
    <servlet-class>com.li.servlet.RelInHouseDisplayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RelInHouseDisplayServlet</servlet-name>
    <url-pattern>/RelInHouseDisplayServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RelInHouseServlet</display-name>
    <servlet-name>RelInHouseServlet</servlet-name>
    <servlet-class>com.li.servlet.RelInHouseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RelInHouseServlet</servlet-name>
    <url-pattern>/RelInHouseServlet</url-pattern>
  </servlet-mapping>
  <filter>
  	<display-name>MyFilter</display-name>
  	<filter-name>MyFilter</filter-name>
  	<filter-class>com.li.filter.MyFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>MyFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>